{% extends "layout.html" %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item Quantities</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Item Quantities</h1>
            <img src="{{ url_for('plot_png') }}" alt="Item Quantities Graph">
            <div class="actions">
                <a href="{{ url_for('post') }}">Return to Items</a>
            </div>
        </div>
    </body>
{% endblock content %}
